kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 30080
    hostPort: 80
    protocol: TCP
  - containerPort: 30443
    hostPort: 443
    protocol: TCP
  - containerPort: 30000
    hostPort: 30000
    protocol: TCP
  - containerPort: 30808
    hostPort: 8080   # للـ Jenkins
    protocol: TCP
  - containerPort: 32000
    hostPort: 32000  # للـ ArgoCD
    protocol: TCP
- role: worker
- role: worker
