---
- name: Deploy Jenkins using Helm on KinD
  hosts: localhost
  tasks:
    - name: Add Jenkins Helm repo
      kubernetes.core.helm_repository:
        name: jenkinsci
        repo_url: https://charts.jenkins.io

    - name: Create jenkins namespace
      kubernetes.core.k8s:
        name: jenkins
        api_version: v1
        kind: Namespace

    - name: Deploy Jenkins
      kubernetes.core.helm:
        name: jenkins
        chart_ref: jenkinsci/jenkins
        release_namespace: jenkins
        values:
          persistence:
            enabled: true
            size: 10Gi
          serviceType: NodePort
          servicePort: 8080
          targetPort: 8080
          nodePort: 30808
          adminPassword: admin123
